* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(0, 35, 88);
  --main-light-color: #fff;
}

html {
  max-height: 100vh;
  font-family: "Arimo", sans-serif;
}

body {
  display: flex;
  padding: 10px 0 0 0;
  width: 80%;
  height: calc(182vh);
  margin: 10px auto;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

.left {
  background-color: var(--main-color);
  color: #fff;
  width: 20%;
  height: calc(181.8vh);
  position: relative;
  top: -10px;
}
.right {
  background: #fff;
  width: 80%;
  height: 100%;
  margin: 0 0 0 20px;
}

.right .names * {
  margin: 7px 0 0 0;
}

#name {
  color: var(--main-color);
  font: 40px bolder;
}

.profession {
  color: var(--main-color);
  font: 25px bolder;
}

.contact {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 50px 2fr;
  grid-template-columns: 30% 2fr;
}

.contact div {
  display: flex;
}

.contact div svg {
  width: 27px;
  height: 27px;
  padding: 5px;
  border-radius: 50%;
  background: var(--main-color);
  border: 1px var(--main-light-color);
}
svg path {
  font: 8px bold;
}

.contact div p {
  padding-left: 5px;
}

.description p {
  width: calc(100% - 60px);
  line-height: 150%;
}

.skillset .text * {
  line-height: 150%;
}

.skillset .text .title {
  font-size: 20px;
  font-weight: 800;
  color: var(--main-color);
  margin: 15px 0 0 0;
}

h4 {
  font-size: 18px;
  margin: 5px 0 0 0;
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

p,
li {
  line-height: 150%;
}

.timeline {
  padding: 0 20px 0 30px;
  border-left: 1px solid var(--main-color);
}

.skillParagraphs p,
.skills div p,
section .certifications p:not(:first-child) {
  position: relative;
  left: -12px;
}

h4::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: relative;
  top: 18px;
  left: -34px;
}

.skillParagraphs p::before,
.skills div p::before,
section .certifications p:not(:first-child)::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: relative;
  top: 16px;
  left: -22px;
}

.left div p {
  position: relative;
  top: 20px;
}

.senior,
.junior,
.BS,
.PMP,
.prince {
  display: flex;
}

.senior p,
.junior p,
.BS p {
  position: relative;
  top: 16px;
  left: -200px;
  color: var(--main-light-color);
}

.BS h4 {
  position: relative;
  left: -132px;
}

.junior h4 {
  position: relative;
  left: -130px;
}

.senior h4 {
  position: relative;
  left: -127px;
}

.PMP .date {
  position: relative;
  top: 8px;
  left: -70px;
  color: var(--main-light-color);
}

.PMP:nth-child(2) {
  position: relative;
  left: -59px;
}

.prince .date {
  position: relative;
  top: 8px;
  left: -128px;
  color: var(--main-light-color);
}

.prince p:not(p.date) {
  position: relative;
  left: -71px;
  top: -2px;
}

.icons {
  display: block;
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
  justify-content: center;
}

.icons .one {
  position: absolute;
  top: 303px;
  left: 353px;
}

.icons .one svg {
  margin: 1px 2px 0 2px;
  padding: 4px 4px;
  fill: var(--main-light-color);
  font-size: 15px;
}

.icons .two {
  position: absolute;
  top: 668px;
  left: 352px;
}
.icons .two svg {
  margin: 3px 0 0 1px;
  fill: var(--main-light-color);
  font-size: 15px;
  padding: 3px 3px;
}

.icons .three {
  position: absolute;
  top: 825px;
  left: 353px;
}

.icons .three svg {
  padding: 4px 4px;
  fill: var(--main-light-color);
  font-size: 12px;
  margin: 0 0 2px 2px;
  transform: rotate(30);
}

.icons .four {
  position: absolute;
  top: 998px;
  left: 353px;
}

.icons .four svg {
  padding: 4px 4px;
  fill: var(--main-light-color);
  font-size: 12px;
  margin: 3px 2px 0 1px;
}

.icons .five {
  position: absolute;
  top: 1106px;
  left: 353px;
}

.icons .five svg {
  margin: 4px 0 0 3px;
  fill: var(--main-light-color);
  font-size: 15px;
  padding: 2px 2px;
}

.circles {
  display: flex;
}

.ratings .circles div {
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
