* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(9, 9, 122);
  --main-light-color: #fff;
}

html {
  max-height: 100vw;
  font-family: "Arimo", sans-serif;
}
body {
  display: flex;
  padding: 10px 0 10px 0;
  border: 2px solid grey;
  border-radius: 2%;
  width: 80%;
  margin: 0 auto;
}
.left {
  background-color: var(--main-color);
  color: #fff;
  width: 20%;
  height: calc(inherit + 50px);
  position: relative;
  top: -10px;
  border-top-left-radius: inherit;
}

.right {
  background: #fff;
  width: 80%;
  height: 100%;
  margin: 0 0 0 20px;
}

.right .names * {
  margin: 7px 0 0 0;
}

#name {
  color: var(--main-color);
  font: 40px bolder;
}

.profession {
  color: var(--main-color);
  font: 25px bolder;
}

.contact {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 50px 2fr;
  grid-template-columns: 30% 2fr;
}

.contact div {
  display: flex;
}

.contact div svg {
  width: 27px;
  height: 27px;
  padding: 5px;
  border-radius: 50%;
  background: var(--main-color);
  border: 1px var(--main-light-color);
}
svg path {
  font: 8px bold;
}

.contact div p {
  padding-left: 5px;
}

.description p {
  width: calc(100% - 60px);
  line-height: 150%;
}

.skillset .text * {
  line-height: 150%;
}

.skillset .text .title {
  font-size: 20px;
  font-weight: 800;
  color: var(--main-color);
  margin: 15px 0 0 0;
}

h4 {
  font-size: 18px;
  margin: 5px 0 0 0;
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

p,
li {
  line-height: 150%;
}

.timeline {
  padding: 0 20px 0 30px;
  border-left: 1px solid var(--main-color);
}

.skillParagraphs p,
.skills div p,
section .certifications p:not(:first-child) {
  position: relative;
  left: -12px;
}

h4::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: relative;
  top: 18px;
  left: -34px;
}

.skillParagraphs p::before,
.skills div p::before,
section .certifications p:not(:first-child)::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: relative;
  top: 16px;
  left: -22px;
}

.left div p {
  position: relative;
  top: 20px;
}

.senior,
.junior,
.BS,
.PMP,
.prince {
  display: flex;
}

.senior p,
.junior p,
.BS p {
  position: relative;
  top: 16px;
  left: -200px;
  color: var(--main-light-color);
}

.BS h4 {
  position: relative;
  left: -132px;
}

.junior h4 {
  position: relative;
  left: -130px;
}

.senior h4 {
  position: relative;
  left: -127px;
}

.PMP .date {
  position: relative;
  top: 8px;
  left: -70px;
  color: var(--main-light-color);
}

.PMP:nth-child(2) {
  position: relative;
  left: -59px;
}

.prince .date {
  position: relative;
  top: 8px;
  left: -128px;
  color: var(--main-light-color);
}

.prince p:not(p.date) {
  position: relative;
  left: -71px;
  top: -2px;
}
